
    <div class="order-container">
        <div class="up">
            <img class="img"src="https://images.foody.vn/res/g21/208155/s120x120/54899475-8c03-44b6-bca5-8a51c617-5120a1c1-230822175814.jpeg" alt="">
        </div>
        <div class="center">
            <div class="cnt">
                <h2>Cơm chiên kim chi phô mai</h2>
                <p>95.000đ</p>
            </div>
            <input type="text" name="note" id="note" placeholder="Bạn có gì muốn nhắn tới nhà hàng không?">
        </div>
        <div class="down">
            <h2>Thêm topping - Chọn tối đa 4</h2>
            <form action="">
                <label>
                    <div class="down-container">
                        <input type="checkbox" name="topping" id="banh_gao">Bánh gạo
                        <p>15.000đ</p>
                    </div>
                    <div class="down-container">
                        <input type="checkbox" name="topping" id="thanh_cua">Thanh cua
                        <p>12.000đ</p>
                    </div>
                    <div class="down-container">
                        <input type="checkbox" name="topping" id="ramen">Mì ramen
                        <p>15.000đ</p>
                    </div>
                    <div class="down-container">
                        <input type="checkbox" name="topping" id="kim_chi">Kim chi
                        <p>12.000đ</p>
                    </div>
                </label>
            </form>
        </div>
        <div class="footer">
            <div class="sbtr"> 
                <button id="subtract">-</button>
            </div>
            <div class="txt">
                <p>1</p>
            </div>
            <div class="plus">
                <button id="add">+</button>
            </div>
            <div class="bskt">
                <button id="add-to-basket">Thêm vào giỏ - 95.000đ</button>
            </div>
        </div>
    </div>

