<app-header></app-header>
<!-- <app-title title="Cart Page" margin="1.5rem 0 0 2.5rem"></app-title> -->
<div class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div>
                <img [src]="cartItem.foods.imageUrl" [alt]="cartItem.foods.name">
            </div>
            <div>
                <a routerLink="/foods/{{cartItem.foods.id}}">
                {{cartItem.foods.name}}
                </a>
            </div>
            <div>
                <select #quantitySelect [value]="cartItem.quantity"
                (change)="changeQuantity(cartItem,quantitySelect.value)">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
            </select>
            </div>
            <div>
                {{cartItem.price| currency:"VND":"symbol-narrow":"1.0-0"}}
            </div>
            <div>
            <button class="remove-button" (click)="removeFromCart(cartItem)">Xoá
            </button>
            </div>
        </li>
    </ul>
    <div class="checkout">
        <div>
            <div class="foods-count">{{cart.totalCount}}</div>
            <div class="total-price">{{cart.totalPrice|currency:"VND":"symbol-narrow":"1.0-0"}}</div>
        </div>
        <a routerLink="/checkout">Thanh toán</a>
    </div>
</div>