
.footer_section{
    background-color: black;
    margin-top: 90px;
    padding: 90px;
    margin-left: 0;
}
.footer_section h1{
    color: white;
    font-family: tilt neon;
    font-size: 40px;
    margin-top: 10px;

}
.footer_section h2{
    color: white;
    font-family: tilt neon;
    font-size: 20px;
}
.inf{
    display: flex;
    flex-direction: row;
    row-gap: 170px;
    text-align: center;
}
.inf div{
    width: 100%;
}

.footer_section .footer_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-family: tilt neon;
  }
  
  .footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
  }
  
  .footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
  }
  
  .footer_section .footer_contact .contact_link_box a:hover {
    color: #f0f0f0;
  }
  











  