<footer class="footer_section">
    <div class="inf">
        <div class="inf_open">
        <h1> Opening hours</h1>
        <h2> 14:00 AM-22:00PM </h2>
    </div>
    <div class="footer_contact">
        <h1>
          Contact Us
        </h1>
        <div class="contact_link_box">
          <a href="">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>
              Location
            </span>
          </a>
          <a href="">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>
              Call +0190358520
            </span>
          </a>
          <a href="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>
              ex@gmail.com
            </span>
          </a>
        </div>
      </div>
    </div>

    
</footer>